@model MatTypeModel;
@{
    ViewData["Title"] = "Create Type";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <!-- jquery validation -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">สร้าง Material type</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="createForm" method="POST" asp-controller="Material" asp-action="Create">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Type_Code">Code รหัส:</label>
                        <input type="text" asp-for="Type_Code" class="form-control">
                        <span asp-validation-for="Type_Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Type_Name">Name ชื่อประเภท:</label>
                        <input type="text" asp-for="Type_Name" class="form-control">
                        <span asp-validation-for="Type_Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Type_Remark">Remark หมายเหตุ:</label>
                        <input type="text" asp-for="Type_Remark" class="form-control">
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="button" id="btnBack" class="btn btn-warning float-left" onClick="history.go(-1); return false;">Go Back</button>
                    <button type="submit" class="btn btn-success float-right">Create</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-3">
    </div>
    <!--/.col (right) -->
</div>
<!-- /.row -->

@section Scripts
{
    <script src='~/js/shared/shared.js' type="text/JavaScript"></script>
}