@model MatTypeModel;
@{
    ViewData["Title"] = "Create Type";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <!-- jquery validation -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">แก้ไข Material type</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="createForm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="type_code">Code รหัส:</label>
                        <input type="text" name="type_code" class="form-control" id="type_code" placeholder="Material Type Code">
                    </div>
                    <div class="form-group">
                        <label for="type_name">Name ชื่อประเภท:</label>
                        <input type="text" name="type_name" class="form-control" id="type_name" placeholder="Material Type Name">
                    </div>
                    <div class="form-group">
                        <label for="type_remark">Remark หมายเหตุ:</label>
                        <textarea name="type_remark" class="form-control" id="type_remark" placeholder="Ramark"></textarea>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="button" id="btnBack" class="btn btn-secondary float-left" onClick="history.go(-1); return false;">Go Back</button>
                    <button type="submit" class="btn btn-success float-right">Create</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
    <!--/.col (left) -->
    <!-- right column -->
    <div class="col-md-3">
    </div>
    <!--/.col (right) -->
</div>
<!-- /.row -->

@section Scripts
{
    <script src='~/js/shared/shared.js' type="text/JavaScript"></script>
}